.transaction-table-container {
  font-family: sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #efefef;
  border-radius: 4px;
}

.transaction-table-header {
  display: flex;
  height: 58px;
  align-items: center;
  padding-left: 26px;
  color: rgb(26, 26, 26);
  font-size: 1rem;
}

.transaction-table-header .table-title {
  margin-left: 8px;
}

.transaction-table {
  width: 100%;
}

.transaction-table .mat-header-row {
  background-color: #f8f9fa;
}

.transaction-table .mat-header-cell {
  color: #8e94a2;
  font-size: 1rem;
  border-width: 0px;
  font-weight: 400;
}

.transaction-table .mat-cell {
  border-width: 0px;
}